#bt01{
    background-color: blue;
    }    

#bt04{
    background-color: blueviolet;
    }

#bt07{
    background-color: brown;
    }

#bt10{
    background-color: burlywood;
    }

#bt02{
    background-color: blue;
    }    

#bt05{
    background-color: blueviolet;
    }

#bt08{
    background-color: brown;
    }

#bt11{
    background-color: burlywood;
    }

#bt03{
    background-color: blue;
    }    

#bt06{
    background-color: blueviolet;
    }

#bt09{
    background-color: brown;
    }

#bt12{
    background-color: burlywood;
    }